<section class="home d-flex" id="home">

  <!--Photo de profil à droite-->
  <div class="mono-background">
    <div class="mono-background-inner" data-aos-duration="1200" data-aos-delay="450" data-aos="fade-left">
      @if (user()?.photo_profil) {
        <div class="hero-photo-wrapper">
          <img [src]="getPhotoUrl(user()!.photo_profil!)" [alt]="user()!.prenom" class="hero-photo">
        </div>
      } @else {
        <div class="hero-photo-placeholder">
          <i class="fas fa-user"></i>
        </div>
      }
    </div>
  </div>

  <div class="container introduction text-left" >
    <p class="welcome_text mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150">I'm a <span class="welcome-text-type" data-options="Développeur Logiciel, Créateur de Solutions Innovantes" ></span></p>
    <div id="parallax-scene" class="mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
      <div class="heading-zone">
        <h1>{{ user() ? user()!.prenom + ' ' + user()!.nom : 'Traore Husseni' }}</h1>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="450">
      <a href="#about" class="btn  btn-primary btn-small">Learn More</a>
    </div>
  </div>
  <div class="scroll-down">
    <a href="#about" class="scroll-down-link text-center hoveroff">
      <div class="scroll-title">Scroll Down</div>
      <div class="scroll-mouse">
        <div class="whell"></div>
      </div>
    </a>
  </div>
</section>
