<footer class="horizontal-footer shadow-footer">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-12">
        <div class="text-center">
          <ul class="social-icons list-inline mt-5">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/husseni-traoré-134291290" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Eren-73" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
          <p class="copyright-text mt-3 mb-5">2026 ©. Traore Husseni - Créateur de Solutions Innovantes</p>
        </div>
      </div>
    </div>
  </div>

</footer>
